@tailwind base;
@tailwind components;
@tailwind utilities;


/*---- variables ---- */

:root{

    /*----Fonts ------*/
    --serif: 'Poppins', sans-serif;
    --cursive: 'Almendra SC', serif;


    /* --Main Colors--  */
    --black-50: #f6f6f6;
    --black-100: #e7e7e7;
    --black-200: #d1d1d1;
    --black-300: #b0b0b0;
    --black-400: #888888;
    --black-500: #6d6d6d;
    --black-600: #5d5d5d;
    --black-700: #4f4f4f;
    --black-800: #454545;
    --black-900: #3d3d3d;
    --black-950: #000000;

    /* --Box Shadow, Dark: */
    --box-black:0px 0px 20px 5px #ffffff59;

    /* --Box Shadow, Light: */
    --box-white:0px 0px 20px 5px #00000059;

    --transition-theme: background .5s ease-in-out, color .5s ease-in-out;
}

.dark{
    --bg:var(--black-900);
    --bg-items: var(--black-800);
    --text: var(--black-50);
    --shadow: var(--box-black);
    --border: var(--black-50);

}
.light{
    --bg:var(--black-100);
    --bg-items: var(--black-900);
    --text: var(--black-950);
    --shadow: var(--box-white);
    --border: var(--black-950);
}

/*------ general ------ */

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    background-color: var(--bg);
    color: var(--text);
    font-family: var(--serif);
    transition: var(--transition-theme);
}
.dropMenu{
    box-shadow: 0px 0px 20px 5px #00000059;
}
.btnShadow{
    box-shadow: 0px 8px 20px 5px #0000009d;
}
.mainBtn {
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 1.5rem;
    background: linear-gradient(to right,#77530a,#ffd277,#77530a,#77530a,#ffd277,#77530a);
    background-size: 250%;
    background-position: left;
    color: var(--black-950);
    letter-spacing: .3rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 1s;
    overflow: hidden;
}
.mainBtn:focus{
    outline: 2px solid var(--black-950);
}
.mainBtn::before {
    position: absolute;
    color: var(--black-950);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97%;
    height: 90%;
    border-radius: 8px;
    transition-duration: 1s;
    background-color: rgba(0, 0, 0, 0.842);
    background-size: 200%;
}
.mainBtn:hover {
    transform: scale(1.1);
    background-position: right;
    transition-duration: 1s;
}
.mainBtn:hover::before{
    background-position: right;
    transition-duration: 1s;
}
.mainBtn:active {
    transform: scale(.8);
}
.cancelBtn {
    width: 200px;
    height: 40px;
    display: flex;
    color: var(--black-50);
    align-items: center;
    justify-content: center;
    background: #c41b1b;
    border-radius: 1.5rem;
    transition: 200ms;
}
.cancelBtn span{
    transition: 200ms;
}
.cancelBtn .icon {
    position: absolute;
    transform: translateX(50px) translateY(.5px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cancelBtn svg {
    width: 15px;
    fill: var(--black-50);
}
.cancelBtn:hover .text{
    color: transparent;
}
.cancelBtn:hover .text .icon{
    transform: translateX(0);
}
.cancelBtn:focus {
    outline: none;
}
.cancelBtn:active .icon svg{
    transform: scale(0.8);
}
.logoutBtn {
    width: 120px;
}
.logoutBtn .icon{
    transform: translateX(40px) translateY(0px);
}
.logoutBtn svg{
    width: 12px;
}


/*-----form overlay------------------*/

.logOverlay {
    background-color: rgba(0, 0, 0, 0.7);
    animation: overAnimation .3s linear;
}
.logFormContainer {
    background-color: var(--black-900);
    animation: formAnimation .3s linear;
}
@keyframes overAnimation {
    0%{opacity: 0; pointer-events: none;};
    100%{opacity: 1; pointer-events: auto;};
}
@keyframes formAnimation {
    0%{top:55%};
    100%{top:50%};
}
#searchOverlay .logFormContainer{
    background-color: var(--black-900);
    animation: searchAnimation .2s linear;
}
@keyframes searchAnimation {
    0%{top:40%};
    100%{top:20%};
}
.logContainer label{
    pointer-events: none;
    transition: all .5s ease;
    color: var(--black-50);
}
.logContainer input{
    color: var(--black-50);
    outline: none;
    transition: all .5s ease;
}
.logContainer select{
    color: var(--black-50);
    outline: none;
    transition: all .5s ease;
}
.logContainer textarea{
    color: var(--black-50);
    outline: none;
    transition: all .5s ease;
}
.logContainer input:hover{
    background: var(--black-700);
}
.logContainer select:hover{
    background: var(--black-700);
}
.logContainer textarea:hover{
    background: var(--black-700);
}
.logContainer input:focus{
    background: var(--black-700);
    outline: none;
    border: 2px solid var(--black-950);
}
.logContainer select:focus{
    background: var(--black-700);
    outline: none;
    border: 2px solid var(--black-950);
}
.logContainer textarea:focus{
    background: var(--black-700);
    outline: none;
    border: 2px solid var(--black-950);
}
.logContainer input:focus ~ label{
    font-size: .9rem;
    top: -15px;
    left: 20px;
}
.logContainer select:focus ~ label{
    font-size: .9rem;
    top: -15px;
    left: 20px;
}
.logContainer textarea:focus ~ label{
    font-size: .9rem;
    top: -15px;
    left: 20px;
}
.logContainer input:valid{
    background: var(--black-700);
}
.logContainer select:valid{
    background: var(--black-700);
}
.logContainer textarea:valid{
    background: var(--black-700);
}
.logContainer input:valid ~ label{
    font-size: .9rem;
    top: -15px;
    left: 20px;
}
.logContainer select:valid ~ label{
    font-size: .9rem;
    top: -15px;
    left: 20px;
}
.logContainer textarea:valid ~ label{
    font-size: .9rem;
    top: -15px;
    left: 20px;
}


/*------main-------- */

.imgDivClip{
    background-color: var(--bg-items);
    height: 15rem;
    clip-path: polygon(50% 0px, 100% 0px, 100% 32.08%, 50% 100%, 0px 37.92%, 0px 0px);
    transition: var(--transition-theme);
}


/*---------------Sign up page---------------*/

.isInvalid{
    border: 2px solid rgb(173, 23, 23);
}

/*--------------- Products ---------------*/




.bin-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 15px;
    background-color: rgb(255, 95, 95);
    cursor: pointer;
    border: 3px solid rgb(210, 70, 70);
    transition-duration: 0.3s;
}
.bin-button:hover {
    background-color: rgb(255, 0, 0);
}
.bin-button:hover .bin-top {
    transform: rotate(45deg);
}
.bin-button:active {
    transform: scale(0.9);
}
.bin-top {
    width: 17px;
    transform-origin: right;
    transition-duration: 0.3s;
}
.bin-bottom {
    width: 15px;
}
.title{
    font-family: var(--cursive);
}
#form-checkout {
    display: flex;
    flex-direction: column;
    max-width: 600px;
}
#form-checkout .container {
    height: 18px;
    display: inline-block;
    border: 1px solid rgb(118, 118, 118);
    border-radius: 2px;
    padding: 1px 2px;
}