#cartOverlay {
    background-color: rgba(0, 0, 0, 0.7);
    animation: overAnimation .5s linear;
}
#cart{
    border-top-left-radius: 4rem;
    border-bottom-left-radius: 4rem;
    animation: cartAnimation .5s linear;
}
#cartOverlay #cart h2{
    font-family: var(--cursive);
}
@keyframes cartAnimation {
    0%{right: -100%;}
    100%{right:0;}
}
@media screen and (max-width: 640px){
    #cart{
        border-radius: 2rem;
    }
}